<html>

<head>
    <meta charset="utf-8"/>
    <title>Nossa Primeira Página</title>
</head>


<body>
    
    <p>Este é um parágrafo</p>
    <p class ="paragrafo1">Este é um paragrafo com atributo</p>
    <p>Este é um parágrafo com um elemento <strong>especial</strong></p>
    <h1>Alunos</h1>
    <h2>Lista de Alunos</h2>
    <ul>
        <li> Nicolas</li>
        <li> Jorge</li>
    </ul>
    <h3>Lista de Alunos-ordenada</h3>
    <ol>
        <li> Nicolas</li>
        <li> Matheus</li>
        <li> Jorge</li>
    </ol>
    <h4>Oi todo mundo!</h4>
</body>

</html>
